# Hive JOIN operation

In [1]:
sql_context = SparkSession.builder.appName("HiveJoinOperation").enableHiveSupport().getOrCreate()

# First Table

In [2]:
sql_context.sql("select * from employee_details").show()

+---+------+---+
| id|groups|age|
+---+------+---+
|  0|     A| 36|
|  1|     A| 55|
|  2|     A| 61|
|  3|     O| 29|
|  4|     O| 34|
|  5|     O| 42|
|  6|    AB| 53|
|  7|     B| 41|
|  8|     A| 47|
|  9|     A| 31|
| 10|     A| 47|
| 11|     O| 40|
| 12|     O| 41|
| 13|     O| 46|
| 14|    AB| 51|
| 15|     B| 57|
| 16|     A| 33|
| 17|     A| 41|
| 18|     A| 46|
| 19|     O| 32|
+---+------+---+
only showing top 20 rows

# Second Table

In [3]:
sql_context.sql("select * from employee_salary").show()

+---+------+
| id|salary|
+---+------+
|  0|  2297|
|  1|  1134|
|  2|  4969|
|  3|   902|
|  4|  3574|
|  5|  2761|
|  6|  1484|
|  7|  3809|
|  8|  2065|
|  9|  1020|
| 10|  1950|
| 11|  4387|
| 12|  1830|
| 13|  2182|
| 14|  3460|
| 15|   662|
| 16|  1134|
| 17|  1020|
| 18|   779|
| 19|  3228|
+---+------+
only showing top 20 rows

# JOIN Operation

In [4]:
sql_context.sql("""SELECT first.id, first.groups, first.age
, second.salary FROM employee_details first JOIN employee_salary second
ON (first.id = second.id)""").show()

+---+------+---+------+
| id|groups|age|salary|
+---+------+---+------+
|  0|     A| 36|  2297|
|  1|     A| 55|  1134|
|  2|     A| 61|  4969|
|  3|     O| 29|   902|
|  4|     O| 34|  3574|
|  5|     O| 42|  2761|
|  6|    AB| 53|  1484|
|  7|     B| 41|  3809|
|  8|     A| 47|  2065|
|  9|     A| 31|  1020|
| 10|     A| 47|  1950|
| 11|     O| 40|  4387|
| 12|     O| 41|  1830|
| 13|     O| 46|  2182|
| 14|    AB| 51|  3460|
| 15|     B| 57|   662|
| 16|     A| 33|  1134|
| 17|     A| 41|  1020|
| 18|     A| 46|   779|
| 19|     O| 32|  3228|
+---+------+---+------+
only showing top 20 rows