# Hive JOIN operation

In [1]:
import os

# First Table

In [2]:
print(os.popen("""hive -S -e 'select * from original_table order by id;'""").read())

1	Akash	65000
2	Anish	72000
3	Karthik	68000
4	Suresh	70000
5	Ganesh	48000

# Second Table

In [3]:
print(os.popen("""hive -S -e 'select * from reference_table order by id;'""").read())

1	Akash	65000
2	Anish	72000
3	Karthik	68000
6	Vinay	100000
7	Ravi	930000
8	Keshav	46000

# Merge Operation

In [4]:
print(os.popen("""hive -S -e '
               set hive.support.concurrency = true;
               set hive.enforce.bucketing = true;
               set hive.exec.dynamic.partition.mode = nonstrict;
               set hive.txn.manager = org.apache.hadoop.hive.ql.lockmgr.DbTxnManager;
               set hive.compactor.initiator.on = true;
               set hive.compactor.worker.threads = 3;
               MERGE INTO original_table AS first USING reference_table AS second ON first.id = second.id
               WHEN NOT MATCHED THEN INSERT VALUES(second.id, second.name, second.salary);'
               """).read())

# Table after merge operation

In [5]:
print(os.popen('hive -S -e "select * from original_table order by id;"').read())

1	Akash	65000
2	Anish	72000
3	Karthik	68000
4	Suresh	70000
5	Ganesh	48000
6	Vinay	100000
7	Ravi	930000
8	Keshav	46000